.Forecast {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.ForecastTitleContainer {
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
}

.ForecastTitle {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  margin: 0 10px;
  margin-bottom: 20px;
  /* border: 1px solid pink; */
}

.ForecastLocation {
  font-weight: 400;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 768px) {
  .ForecastTitle {
    font-size: 12px;
    margin: 0 4px;
    margin-bottom: 16px;
  }
}
