.Forecast {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.ForecastTitleContainer {
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
}

.ForecastTitle {
  font-size: 12px;
  margin: 0 4px;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: capitalize;
  /* border: 1px solid pink; */
}

.ForecastLocation {
  font-weight: 400;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}



@media (min-width:641px) {
  .ForecastTitle {
    font-size: 22px;
    margin: 0;
    margin: 0 10px;
    margin-bottom: 24px;
  }
}

@media (min-width: 961px) {
  .ForecastTitle {
    font-size: 36px;
    margin: 0;
    margin: 0 10px;
    margin-bottom: 20px;
  }
}
