.WeatherCard {
  background-color: #fff;
  font-weight: 400;
  width: 60px;
  height: 120px;
  font-size: 10px;
  margin: 4px 4px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.WeatherCard img {
  width: 24px;
  height: 24px;
}

.WeatherCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 16px;
}

.TempMax {
  margin: 0;
  padding: 0;
}

.TempMin {
  margin: 0;
  padding: 0;
  color: #AAAAAA;
}

.Date {
  margin: 0;
  padding: 0;
}

@media (min-width: 641px) {
  .WeatherCard {
    width: 120px;
    height: 144px;
    font-size: 16px;
    margin: 0 8px;
    border-radius: 12px;
  }

  .WeatherCard img {
    width: 48px;
    height: 48px;
  }

  .WeatherCardContent {
    margin: 16px;
  }
}

@media (min-width: 961px) {
  .WeatherCard {
    width: 160px;
    height: 192px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 16px;
  }

  .WeatherCard img {
    width: 60px;
    height: 60px;
  }

  .WeatherCardContent {
    margin: 20px;
  }
}
