.WeatherCard {
  background-color: #fff;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 400;

  width: 160px;
  height: 192px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.WeatherCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 20px;
}

.Temperature {
  margin: 0;
  padding: 0;
}

.Date {
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .WeatherCard {
    width: 140px;
    height: 168px;
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .WeatherCard {
    width: 100px;
    height: 120px;
    font-size: 14px;
    margin: 0 4px;
  }

  .WeatherCard img {
    max-width: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .WeatherCard {
    width: 60px;
    height: 72px;
    font-size: 8px;
    margin: 4px 4px;
    border-radius: 6px;
    
  }

  .WeatherCard img {
    width: 24px;
    height: 24px;
  }

  .WeatherCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: 8px;
  }
}
