.SearchInput {
  width: 400px;
  font-size: 24px;
  font-family: inherit;
  border: none;
  background-color: inherit;
  padding: 4px 0;
  transition: 0.5s clip-path cubic-bezier(0.5, 1, 0.89, 1),
    0.2s opacity cubic-bezier(0.5, 1, 0.89, 1);
  /* border: 1px solid red; */
}

.SearchInput:focus {
  outline: none;
}

.SearchInputOpen {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
}

.SearchInputClosed {
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  opacity: 0;
  /* transition: 0.5s clip-path cubic-bezier(0.5, 1, 0.89, 1),
    0.5s opacity cubic-bezier(0.5, 1, 0.89, 1); */
}

@media only screen and (max-width: 768px) {
  .SearchInput {
    font-size: 12px;
    width: 160px;
  }
}
