.SearchIcon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

.SearchIconContainer {
  width: 30px;
  height: 30px;
  margin: 0 4px;

  background-color: #ffffff;
  border-radius: 26px;
  display: flex;
  align-items: center;
  transition: 0.5s width cubic-bezier(0.5, 1, 0.89, 1);
}


.SearchBarOpen {
  width: 200px;
}

.SearchBarClosed {
  width: 30px;
}

.SearchBarContainer {
  display: flex;
  padding: 36px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid purple; */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.5);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 641px) {
  .SearchIcon {
    width: 36px;
    height: 36px;
    margin-left: 3px;
  }

  .SearchIconContainer {
    width: 40px;
    height: 40px;
    margin: 0 8px;
  }

  .SearchBarOpen {
    width: 532px;
  }

  .SearchBarClosed {
    width: 40px;
  }
}

@media (min-width: 961px) {
  .SearchBarClosed {
    width: 52px;
  }
  .SearchIconContainer {
    width: 52px;
    height: 52px;
    margin: 0 10px;
  }
  .SearchBarOpen {
    width: 700px;
  }
  .SearchIcon {
    width: 42px;
    height: 42px;
    margin-left: 6px;
  }
}
