.ToggleButton {
  height: 30px;
  width: 30px;
  font-size: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s background-color cubic-bezier(0.5, 1, 0.89, 1);
}

.UnitToggled {
  background-color: black;
  color: #ffa011;
}

@media (min-width: 641px) {
  .ToggleButton {
    height: 40px;
    width: 40px;
    font-size: 16px;
    margin: 0 8px;
  }
}

@media (min-width: 961px) {
  .ToggleButton {
    height: 52px;
    width: 52px;
    font-size: 24px;
    margin: 0 10px;
  }
}
