.ToggleButton {
  height: 52px;
  width: 52px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: white;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s background-color;
}


.Toggled {
  background-color: black;
  color: #FFA011;
}


@media (max-width: 1200px) {
  .ToggleButton {
    height: 44px;
    width: 44px;
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .ToggleButton {
    height: 32px;
    width: 32px;
    font-size: 16px;
  }
}
