.App {
  width: 70%;
  margin: 200px auto;
  font-family: 'Quicksand', sans-serif;
}
.CardContainer {
  display: flex;
  flex-direction: row;
}
.Title {
  font-size: 36px;
  font-weight: 700;
}

.Location {
  font-weight: 400;
}

.ToggleButton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  animation-name: toggleOff;
  animation-duration: 0.5s;
}

.Toggled {
  background-color: black;
  color: #FFB524;
  animation-name: toggleOn;
  animation-duration: 0.5s;
}

@keyframes toggleOn {
  from {background-color: white;}
  to {background-color: black;}
}

@keyframes toggleOff {
  from {background-color: black;}
  to {background-color: white;}
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ToggleContainer {
  display: flex;
  flex-direction: row;
}

.Footer {
  margin-top: 200px;
}

.FooterText {
  text-align: center;
}
