.App {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  /* border: 1px solid lightseagreen; */
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
}

.Content {
  margin-top: 100px;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  height: 56px;
  width: 100%;
  margin-bottom: 40px;
}

.ToggleContainer {
  display: flex;
  flex-direction: row;
}

.SpinnerContainer {
  height: 161px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width:641px){
  .SpinnerContainer {
    height: 280px;
    width: 732px;
  }
}


@media (min-width:961px){
  .SpinnerContainer {
    height: 250px;
    width: 880px;
  }
}